code/datafactory/pipeline/IptvMainPipeline.json
{
	"name": "IptvMainPipeline",
	"properties": {
		"description": "Main Pipeline for IPTV Orchestration",
		"activities": [
			{
				"name": "RawToCurated",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "UploadToRaw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "IptvRawToCurated",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"sourceFolderPath": {
							"value": "@string(activity('UploadToRaw').output.pipelineReturnValue.sinkFolderPath)",
							"type": "Expression"
						},
						"sourceFileName": {
							"value": "@string(activity('UploadToRaw').output.pipelineReturnValue.sinkFileName)",
							"type": "Expression"
						},
						"sourceFileSystem": {
							"value": "@string(activity('UploadToRaw').output.pipelineReturnValue.sinkFileSystem)",
							"type": "Expression"
						},
						"sinkFileSystem": {
							"value": "@variables('curatedFileSystem')",
							"type": "Expression"
						},
						"sinkFolderPath": {
							"value": "@variables('curatedFolderPath')",
							"type": "Expression"
						},
						"logsFileSystem": {
							"value": "@variables('logsFileSystem')",
							"type": "Expression"
						},
						"logsFolderPath": {
							"value": "@variables('logsFolderPath')",
							"type": "Expression"
						},
						"pipelineId": {
							"value": "@pipeline().GroupId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "CuratedToKusto",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "RawToCurated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "IptvCuratedToKusto",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"sourceFileSystem": {
							"value": "@string(activity('RawToCurated').output.pipelineReturnValue.sinkFileSystem)",
							"type": "Expression"
						},
						"sourceFolderPath": {
							"value": "@string(activity('RawToCurated').output.pipelineReturnValue.sinkFolderPath)",
							"type": "Expression"
						},
						"sinkDatabase": {
							"value": "@variables('kustoDatabase')",
							"type": "Expression"
						},
						"sinkTable": {
							"value": "@variables('kustoTable')",
							"type": "Expression"
						},
						"logsFileSystem": {
							"value": "@variables('logsFileSystem')",
							"type": "Expression"
						},
						"logsFolderPath": {
							"value": "@variables('logsFolderPath')",
							"type": "Expression"
						},
						"pipelineId": {
							"value": "@pipeline().GroupId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "UploadToRaw",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ParseBlobTrigger",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "IptvUploadToRaw",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"sourceFileSystem": {
							"value": "@string(activity('ParseBlobTrigger').output.pipelineReturnValue.fileSystem)",
							"type": "Expression"
						},
						"sourceFolderPath": {
							"value": "@string(activity('ParseBlobTrigger').output.pipelineReturnValue.folderPath)",
							"type": "Expression"
						},
						"sourceFileName": {
							"value": "@string(activity('ParseBlobTrigger').output.pipelineReturnValue.fileName)",
							"type": "Expression"
						},
						"sinkFileSystem": {
							"value": "@variables('rawFileSystem')",
							"type": "Expression"
						},
						"sinkFolderPath": {
							"value": "@variables('rawFolderPath')",
							"type": "Expression"
						},
						"logsFileSystem": {
							"value": "@variables('logsFileSystem')",
							"type": "Expression"
						},
						"logsFolderPath": {
							"value": "@variables('logsFolderPath')",
							"type": "Expression"
						},
						"pipelineId": {
							"value": "@pipeline().GroupId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ParseBlobTrigger",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ParseBlobTrigger",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"uploadSourceFolderPath": {
							"value": "@pipeline().parameters.uploadSourceFolderPath",
							"type": "Expression"
						},
						"uploadSourceFileName": {
							"value": "@pipeline().parameters.uploadSourceFileName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"uploadSourceFolderPath": {
				"type": "string"
			},
			"uploadSourceFileName": {
				"type": "string"
			}
		},
		"variables": {
			"rawFileSystem": {
				"type": "String",
				"defaultValue": "raw"
			},
			"curatedFileSystem": {
				"type": "String",
				"defaultValue": "curated"
			},
			"logsFileSystem": {
				"type": "String",
				"defaultValue": "logs"
			},
			"curatedFolderPath": {
				"type": "String",
				"defaultValue": "iptv"
			},
			"logsFolderPath": {
				"type": "String",
				"defaultValue": "iptv"
			},
			"kustoDatabase": {
				"type": "String",
				"defaultValue": "operationaldb"
			},
			"kustoTable": {
				"type": "String",
				"defaultValue": "iptv_ingest"
			},
			"uploadFileSystem": {
				"type": "String",
				"defaultValue": "upload-iptv"
			},
			"rawFolderPath": {
				"type": "String",
				"defaultValue": "iptv"
			}
		},
		"folder": {
			"name": "Pipelines/IPTV"
		},
		"annotations": []
	}
}