code/datafactory/pipeline/ReferenceToKusto.json
{
	"name": "ReferenceToKusto",
	"properties": {
		"activities": [
			{
				"name": "HappinessThresholdToKusto",
				"description": "Insert Reference data into Kusto",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [
					{
						"activity": "SetVariableHappinessThreshold",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "@concat('.set-or-append ', pipeline().parameters.sinkTable, ' <| print name = \"happiness\", value = ', variables('happinessThreshold'), ', timestamp = now()')",
						"type": "Expression"
					},
					"commandTimeout": "00:10:00"
				},
				"linkedServiceName": {
					"referenceName": "AzureDataExplorer",
					"type": "LinkedServiceReference",
					"parameters": {
						"databaseName": {
							"value": "@pipeline().parameters.sinkDatabase",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SetVariableHappinessThreshold",
				"description": "Set Variable \"happinessThreshold\"",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "happinessThreshold",
					"value": {
						"value": "@string(pipeline().globalParameters.happinessThreshold)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetVariableMovingWindowInMinutes",
				"description": "Set Variable \"movingWindowInMinutes\"",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "movingWindowInMinutes",
					"value": {
						"value": "@string(pipeline().globalParameters.movingWindowInMinutes)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetVariableMinimumNumberOfUsersPerWindow",
				"description": "Set Variable \"minimumNumberOfUsersPerWindow\"",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "minimumNumberOfUsersPerWindow",
					"value": {
						"value": "@string(pipeline().globalParameters.minimumNumberOfUsersPerWindow)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "MovingWindowInMinutesToKusto",
				"description": "Insert Reference data into Kusto",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [
					{
						"activity": "SetVariableMovingWindowInMinutes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "@concat('.set-or-append ', pipeline().parameters.sinkTable, ' <| print name = \"movingWindowInMinutes\", value = ', variables('movingWindowInMinutes'), ', timestamp = now()')",
						"type": "Expression"
					},
					"commandTimeout": "00:10:00"
				},
				"linkedServiceName": {
					"referenceName": "AzureDataExplorer",
					"type": "LinkedServiceReference",
					"parameters": {
						"databaseName": {
							"value": "@pipeline().parameters.sinkDatabase",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "MinimumNumberOfUsersPerWindowToKusto_copy1",
				"description": "Insert Reference data into Kusto",
				"type": "AzureDataExplorerCommand",
				"dependsOn": [
					{
						"activity": "SetVariableMinimumNumberOfUsersPerWindow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "@concat('.set-or-append ', pipeline().parameters.sinkTable, ' <| print name = \"minimumNumberOfUsersPerWindow\", value = ', variables('minimumNumberOfUsersPerWindow'), ', timestamp = now()')",
						"type": "Expression"
					},
					"commandTimeout": "00:10:00"
				},
				"linkedServiceName": {
					"referenceName": "AzureDataExplorer",
					"type": "LinkedServiceReference",
					"parameters": {
						"databaseName": {
							"value": "@pipeline().parameters.sinkDatabase",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"sinkDatabase": {
				"type": "string"
			},
			"sinkTable": {
				"type": "string"
			}
		},
		"variables": {
			"happinessThreshold": {
				"type": "String"
			},
			"movingWindowInMinutes": {
				"type": "String"
			},
			"minimumNumberOfUsersPerWindow": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Pipelines/ReferenceData"
		},
		"annotations": []
	}
}