code/datafactory/pipeline/TestIptvRawToCurated.json
{
	"name": "TestIptvRawToCurated",
	"properties": {
		"activities": [
			{
				"name": "TestIptvRawToCurated",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "IptvRawToCurated",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"sourceFolderPath": {
							"value": "@pipeline().parameters.sourceFolderPath",
							"type": "Expression"
						},
						"sourceFileName": {
							"value": "@pipeline().parameters.sourceFileName",
							"type": "Expression"
						},
						"sourceFileSystem": {
							"value": "@pipeline().parameters.sourceFileSystem",
							"type": "Expression"
						},
						"sinkFileSystem": {
							"value": "@pipeline().parameters.sinkFileSystem",
							"type": "Expression"
						},
						"sinkFolderPath": {
							"value": "@pipeline().parameters.sinkFolderPath",
							"type": "Expression"
						},
						"logsFileSystem": {
							"value": "@pipeline().parameters.logsFileSystem",
							"type": "Expression"
						},
						"logsFolderPath": {
							"value": "@pipeline().parameters.logsFolderPath",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "GetPipelineVariableSinkFileSystem",
				"description": "Get Pipeline Variable \"sinkFileSystem\"",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "TestIptvRawToCurated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sinkFileSystem",
					"value": {
						"value": "@string(activity('TestIptvRawToCurated').output.pipelineReturnValue.sinkFileSystem)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IfSinkFileSystem",
				"description": "",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetPipelineVariableSinkFileSystem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('sinkFileSystem'), pipeline().parameters.expectedSinkFileSystem)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Unexpected Sink File System Returned",
								"errorCode": "500"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"sourceFileSystem": {
				"type": "string",
				"defaultValue": "raw"
			},
			"sourceFolderPath": {
				"type": "string",
				"defaultValue": "iptv/4614736d-2afa-4739-80a7-d6b449958736"
			},
			"sourceFileName": {
				"type": "string",
				"defaultValue": "data.csv"
			},
			"sinkFileSystem": {
				"type": "string",
				"defaultValue": "curated"
			},
			"sinkFolderPath": {
				"type": "string",
				"defaultValue": "iptv"
			},
			"logsFileSystem": {
				"type": "string",
				"defaultValue": "logs"
			},
			"logsFolderPath": {
				"type": "string",
				"defaultValue": "iptv"
			},
			"expectedSinkFileSystem": {
				"type": "string",
				"defaultValue": "curated"
			},
			"expectedSinkFolderPath": {
				"type": "string",
				"defaultValue": "iptv"
			}
		},
		"variables": {
			"sinkFileSystem": {
				"type": "String"
			},
			"sinkFolderPath": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Tests/IPTV"
		},
		"annotations": []
	}
}